/* article.html part */

.galery-box{
        border: 1px solid rgb(221, 221, 221);
        border-radius: 10px;
        margin-bottom: 1rem;
}

p.intro{
    font-style: italic;
}

.content-article{
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 1px solid rgb(221, 221, 221);
}

.box{
    padding: 1rem;
    background-color: rgb(230, 232, 237);

}
.galery-img {
    width: 12.5rem;
}

.banner-img {
    width: 62.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.galery-container {
    width: 62.5rem;
    padding: 1rem;
}

.galery-card {
    width: 15.625rem;
    opacity: 0.8;
}

.text-over-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-block {
    position: absolute;
    width: 30rem;
    
    background-color: grey;
    color: white;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    opacity: 0.8;
}

.img-text {
    position: absolute;
    width: 6.25rem;
    top: 50%;
    left: 10%;
    font-size: 1.25rem;
    color: whitesmoke;
}

/* index.html part */
.header-title {
    display: flex;
    width: 100%;
}
.header-title h1 {
    text-align: center;
    width: 100%;
}
.sub-header {
    text-align: center;
    width: 100%;
}

.blog-img {
    position: relative;
    min-width: 350px;
    min-height: 300px;
}

.img {
    width: 350px;
    height: 300px;
    position: absolute;
    padding: 20px;
    display: block;
}

.img-description {
    position: absolute;
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: none;
}

.blog-img:hover .img-description {
    display: block;
}
.blog-img:hover .img {
    opacity: 0.5;
}

.img-description h2 {
    color: white;
}
.img-description p {
    color: white;
}

/* contact.html part */
body {
    background-color: rgb(250, 250, 250);
}

#form {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
}

#contact-header {
  background-image: url(./images/contact-us-01.jpg);
  background-size: cover;
  position: relative;
}

#contact-header h1,
#contact-header p {
    position: absolute;
}

#arrow-icon-container {
    position: absolute;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url(../assets/images/down-arrow-icon.png);
    background-size: cover;
}

#arrow-icon-container:hover {
    box-shadow: 0px 0px 5px rgb(221, 221, 221);
}

@media (min-width: 350px) {
    #contact-header {
        height: 10em;
        margin-bottom: 2%;
    }
    #contact-header h1 {
        top: 4%;
        right: 35%;
        font-size: 1.5rem;
    }
    #contact-header p {
        top: 22%;
        font-size: 0.6rem;
    }
    #arrow-icon-container {
        top: 50%;
        right: 48%;
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 576px) {
    #contact-header {
        height: 20em;
        margin-bottom: 2%;
    }
    #contact-header h1 {
        top: 4%;
        right: 35%;
        font-size: 2rem;
    }
    #contact-header p {
        top: 15%;
        font-size: 0.7rem;
    }
    #arrow-icon-container {
        top: 26%;
        right: 48%;
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 768px) {
    #contact-header {
        height: 20em;
        margin-bottom: 2%;
    }
    #contact-header h1 {
        top: 7%;
        right: 38%;
        font-size: 2.1rem;
    }
    #contact-header p {
        top: 20%;
        font-size: 0.8rem;
    }
    #arrow-icon-container {
        top: 33%;
        right: 48%;
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 992px) {
    #contact-header {
        height: 30em;
        margin-bottom: 2%;
    }
    #contact-header h1 {
        top: 10%;
        right: 40%;
        font-size: 2.5rem;
    }
    #contact-header p {
        position: absolute;
        top: 20%;
        font-size: 1rem;
    }
    #arrow-icon-container {
        top: 33%;
        right: 48%;
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1200px) {
    #contact-header {
        height: 40em;
        margin-bottom: 2%;
    }
    #contact-header h1 {
        top: 10%;
        right: 40%;
        font-size: 2.5rem;
    }
    #contact-header p {
        top: 20%;
        font-size: 1rem;
    }
    #arrow-icon-container {
        top: 33%;
        right: 48%;
        width: 50px;
        height: 50px;
    }
}

.font {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
}

/* about-us.html part */

.history {
    text-align: justify;
    display: block;
  
}

.titre {
    font-size: 2.5rem;
    
}

.row {
    margin-top: 30px;
    text-align: justify;
}

.container {
    margin-top: 80px;
}

.premier .lettrine {
    float: left;
    font-size: 4em;
    line-height: 80%;
    margin: -0.1em 0px;
    padding-right: 0.1em;
}
.photographe .image2 {
    width: 40%;
    height: 40%;
    float: right;
    shape-outside: cross-fade();
    margin-left: 15px;
    margin-top: 5px;
}
.background {
    background-color: black;
}
.textFooter {
    color: white;
    text-align: center;
    margin-top: 20px;
  
}
.logo {
    text-align: center;
}

.container-card-1 .card-1 .img-box img {
    max-width: 100%;
    opacity: 0.7;
}

.container-card-1:hover .card-1 .img-box img {
    opacity: 1;
}

.container-card-1:hover .card-1 .img-box .details-no-hover {
    opacity: 0;
}

.details-no-hover h3 {
    border-radius: 25px;
    background-color: #fff;
    width: 200px;
    height: 60px;
    text-align: center;
    margin: 30px;
    vertical-align: middle;
    opacity: 0.8;
    line-height: 1.8;
}
/*
#carouselSlide{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}*/

.carousel-inner {
    height : 250px;
}

.carousel-item {
    height : 250px;
}

#carousel-1 {
    height : 250px;
    background-image: url(./images/BX.png);
    background-size: 100% 250px; 
}

#carousel-2 {
    height : 250px;
    background-image: url(./images/BX1.png);
    background-size: 100% ; 
}

#carousel-3 {
    height : 250px;
    background-image: url(./images/BX2.png);
    background-size: 100% 250px; 
}